name: Build and publish to GHCR

on:
  release:
    types: [published]
  push:
    branches:
      - main

env:
  image_name: ghcr.io/matthewcane/kube-schedule-scaler-threaded

jobs:
  build:
    name: Build and push image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
    - uses: actions/checkout@v6
    - uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: |
          ${{ env.image_name }}:${{ github.ref_name }}
          ${{ env.image_name }}:latest








